SHOTGRID_PROJECT_ID=518
SHOTGRID_SERVER_PATH="https://th-owl.shotgrid.autodesk.com/"
SHOTGRID_SCRIPT_NAME="vexs_api_service"
SHOTGRID_SCRIPT_KEY="xxxxxxxxxxx"
SHOTGRID_GRAPH_ENTITY="CustomEntity01"